html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a[class] {
  text-decoration: none;
}

body {
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1190px;
  padding: 0 10px;
  margin: 0 auto;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  line-height: 75px;
  font-weight: 700;
  letter-spacing: -1.65px;
  color: #242121;
  padding-bottom: 18px;
  position: relative;
  align-self: flex-start;
}

.title::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 4px;
  background-color: #fcbb08;
  bottom: 0;
  left: 0;
}

.header__top {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: #fff;
  z-index: 999;
}

.header__top-inner {
  padding-bottom: 29px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.menu__btn {
  display: none;
}

.menu__list {
  display: flex;
}

.menu__list-item + .menu__list-item {
  margin-left: 32px;
}

.menu__list-link {
  text-transform: uppercase;
  padding: 0 9px 9px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.6px;
  color: #373a39;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  transition: all 0.5s;
}

.menu__list-link:hover {
  border-bottom: 1px solid #fcbb08;
}

.header__content {
  margin-top: 100px;
  background-image: url("../images/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
}

.header__content-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  min-height: calc(100vh - 93px);
}

.header__title {
  font-weight: 500;
  font-size: 72px;
  line-height: 88px;
  color: #fff;
  text-transform: uppercase;
  margin-top: auto;
  margin-bottom: 19px;
  padding-top: 130px;
}

.header__subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.74286px;
  color: #fcbb08;
  margin-bottom: auto;
}

.header__icon {
  margin-bottom: 62px;
}

.about {
  background-color: #f6f8fa;
  padding: 150px 0 144px;
}

.about__title {
  font-size: 48px;
}

.about__inner {
  display: flex;
  justify-content: space-between;
}

.about__text p {
  max-width: 770px;
  margin-bottom: 16px;
}
